@model IEnumerable<Week14_DateNightProject_04122016.Models.DateNightModel>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid view-title">
    <div class="row" id="row-index">
        <div class="col-sm-6 col-md-6">
            <h2 id="h2-index">View Date Ideas</h2>
            <h4 class="link" id="h4-index">@Html.ActionLink("Click Here To Add New Idea", "Create") </h4>
        </div>
        <div class="col-sm-6 col-md-2" id="reset-index">
            <h4 class="link" id="reset-link">@Html.ActionLink("Clear Search", "Index", "DateNightModels")</h4>
        </div>
        <div class="col-sm-6 col-md-4" id="search-index">
            @using (Html.BeginForm("Index", "DateNightModels", FormMethod.Get))
            {
                @Html.TextBox("search") <input type="submit" value="Search Date Titles or Types" />
            }
        </div>
    </div>
</div>

@foreach (var item in Model)
{
    <div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="@Html.DisplayFor(modelItem => item.Photo)" alt="@Html.DisplayFor(modelItem => item.Title)" class="img-thumbnail">
                <div class="caption">
                    <h2 id="title">@Html.DisplayFor(modelItem => item.Title)</h2>
                    <h3 id="type">Date Type: @Html.DisplayFor(modelItem => item.Type)</h3>
                    <h4 id="cost">@Html.DisplayFor(modelItem => item.Cost) per person</h4>
                    <p>
                        @Html.DisplayFor(modelItem => item.Street)<br />
                        @Html.DisplayFor(modelItem => item.City)
                        @Html.DisplayFor(modelItem => item.State)
                        @Html.DisplayFor(modelItem => item.Zip)<br />
                        @Html.DisplayFor(modelItem => item.PhoneNum)
                    </p>
                    @if(item.Website != null)
                    {
                        <p><a href="@Html.DisplayFor(modelItem => item.Website)" target="_blank" class="btn btn-primary" role="button">Visit Website</a></p>
                    }
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.RecordNum }) | 
                        @Html.ActionLink("Details", "Details", new { id = item.RecordNum }) | 
                        @Html.ActionLink("Delete", "Delete", new { id = item.RecordNum })
                    </p>
                </div>
            </div>
        </div>
    </div>
}